#main-content {
  overflow-x: hidden;
}

.main--div {
  overflow-x: hidden; /* dadadad */
  padding-top: 20px;
  min-height: 100vh;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  margin-right: 7% !important;
}
/* a  */
.first--p {
  font-size: 20px;
  font-family: "Mooonglade";
  text-align: justify;
}
.header--main {
  display: flex;
  border-right: 6px solid #3aa6ca;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
  font-family: "Moonglade", sans-serif;
  color: #3aa6ca;
  text-transform: uppercase;
  padding-right: 10px;
}
.background--text--E--one {
  position: absolute;
  color: #000000;
  opacity: 0.1;
  right: 0;
  font-family: "Moonglade", sans-serif;
  top: -127px;
}
.content--column {
  margin-bottom: 90px;
}
.first--page {
  background-image: url(../../Images/servicesMainBG.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* .background--img { */
/* background-color: #ffffff78;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; */
/* } */

/* =================secound-Page=========== */

.secound--page {
  height: 100vh;
  
  display: flex;
  /* position: fixed; */
  background-color: #3aa6ca;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header--secound--page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  font-family: "Moonglade", sans-serif;
  text-transform: uppercase;
}
.background--text--E {
  font-size: 780px;
  position: absolute;
  color: #114793;
  opacity: 0.1;
  right: 0;
  font-family: "Moonglade";
  top: 720px;
}
.secound--page--p {
  /* width: 70%; */
  font-size: 20px;
  font-family: "Moonglade", sans-serif;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
}
.secound--page--p--content {
  display: flex;
  /* justify-content: center; */
/* align-items: center; */
text-align: center;
  align-items: center;
  width: 60%;
    margin-left: 20%;
}
.secound--header {
  font-weight: 400;
  color: white;
  font-family: "Moonglade", sans-serif;
  font-size: 30px;
}
.secound--span--big {
  font-size: 55px;
}
.grid--section--secound {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 50px;
  grid-template-areas: ". .";
  margin: 30px 0 30px 0;
}
.left--grid--sec {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    ".";
}
.right--grid--sec {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    ".";
}
.grid--sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  margin-bottom: 10px;
}
.img--grid--left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.img--grid--right {
  display: flex;
  justify-content: start;
  align-items: center;
}
.nano--tech--left {
  height: 100px;
  border-radius: 20px;
  width: 100px;
  margin-right: 20px;
}
.nano--tech--right {
  height: 100px;
  border-radius: 20px;
  width: 100px;
  margin-left: 20px;
 

}
.right--align--header {
  text-align: right;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  font-family: "Moonglade";
}
.left--align--header {
  text-align: left;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  font-family: "Moonglade", sans-serif;
}
.justify--p {
  /* text-align: justify; */
  font-size: 17px;
  font-family: "Moonglade", sans-serif;
  color: white;
  text-align: justify;
}

/* ===============================Third-Page================= */

.third--page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  background-color: white;
}
.third--page--img {
  width: 400px;
  height: 400px;
}

.third--page--header {
  font-size: 30px;
  color: #3aa6ca;
  text-align: right;
  font-family: "Moonglade", sans-serif;
}
.third--span--big {
  font-size: 36px;
  font-family: "Moonglade", sans-serif;
}
.third--page--p {
  text-align: justify;
  font-family: "Moonglade", sans-serif;
  font-size: 20px;
}
.background--text--IN {
  position: absolute;
  z-index: -20;
  left: -150px;
  top: -350px;
  font-size: 740px;
  opacity: 0.1;
  font-family: "Moonglade";
}

/* =======================Fourth Page==================== */
.fourth--page {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.61);
  background-image: url("../../Images/servicesBG.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: inset 500px 300px 600px black;
}
.background--text--B {
  position: absolute;
  color: #f3f3f3;
  font-size: 700px;
  left: 0;
  top: 1950px;
  opacity: 0.1;
}
.fourth--grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.fouth--span--big {
  font-size: 45px;
  font-family: "Moonglade", sans-serif;
}
.fouth--header {
  text-align: center;
  color: #3aa6ca;
  font-size: 45px;
}
.fourth--page--p {
  text-align: justify;
  color: white;
  font-family: "Moonglade", sans-serif;
  font-size: 22px;
}
a:link {
  text-decoration: none;
}

@media screen and (max-width: 1440px) {
  .background--text--B {
    top: 1850px;
  }
  .background--text--E {
    top: 500px;
  }
  .background--text--E--one {
    top: -200px;
  }
  .content--column {
    padding-top: 30px !important;
    margin-bottom: 70px;
  }
  .header--main,
  .secound--header,
  .third--page--header,
  .fouth--header {
    font-size: 40px;
  }
  .first--p,
  .secound--page--p,
  .third--page--p,
  .fourth--page--p {
    font-size: 18px;
  }
  .justify--p {
    font-size: 15px   ;
  }
}
@media screen and (max-width: 1024px) {
  /* body{
          overflow-x: hidden;
      } */
      .header--main{
        font-size: 31px;
        margin-bottom: 15px;
      }
.justify--p{
  font-size: 13px;
}
  .background--text--B,
  .background--text--E,
  .background--text--IN,
  .background--text--E--one {
    display: none;
  }
  .left--align--header {
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    color: black;
    font-family: "Moonglade", sans-serif;
}
  .content--column {
    padding-top: 30px !important;
    margin-bottom: 70px;
  }
  .secound--header,
  .third--page--header,
  .fouth--header {
    font-size: 40px;
  }
  .first--p,
  .secound--page--p,
  .third--page--p,
  .fourth--page--p {
    font-size: 17px;
  }
  .anything {
    width: 30px;
    height: 30px;
  }
  .right--align--header {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .main--div{
    margin-right: 3% !important;
  }
  .header--secound--page{
    margin-top: 50px;
  }
  .left--align--header {
    font-size: 17px;

  }
  .justify--p{
    font-size: 18px;
  }

  .third--page {
    min-height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .fourth--page {
    min-height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .fouth--page--content{
    margin-left: 5%;
  }
  body {
    overflow-x: hidden;
  }
  .background--text--B,
  .background--text--E,
  .background--text--IN,
  .background--text--E--one {
    display: none;
  }
  .content--column {
    padding-top: 10% !important;
    margin-bottom: 20px;
    margin-inline: 15px;
  }
  .header--main,
  .secound--header,
  .third--page--header,
  .fouth--header {
    font-size: 35px;
  }
  .first--p,
  .secound--page--p,
  .third--page--p {
    font-size: 17px;
  }
  .fourth--page--p{
    font-size: 16px;
  }
  .anything {
    width: 30px;
    height: 30px;
  }
  .third--page--img {
    width: 300px;
    height: 300px;
    justify-content: center;
  }
  .third--page--img--col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .nano--tech--left,
  .nano--tech--right {
    width: 80px;
  margin-right: 1px;

  } */
  .nano--tech--left{
    width: 80px;
  /* margin-right: 5px; */
  width: 100px;
  margin-left: 50px;

  }
  .nano--tech--right{
    margin-left: 50px;
  }

  /* .img--grid--left,
  .img--grid--right {
    width: 90px;
  } */
  
  .img--grid--right {
    width: 90px;
  }
  .img--grid--left {
    width: 90px;
    /* margin-right: 5px; */
    margin-left: 58px;
  }
  .left--grid--sec {
    width: 60%;
  }
  .empty--col {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .third--page--img {
    display: none;
  }
  .nano--tech--left{
    margin-right: 5px;
  
    }
}

@media screen and (max-width: 426px) {
  body {
    overflow-x: hidden;
  }
  .third--page--img {
    display: none;
  }
  .first--p{
    font-size: 16px;
  }
  .secound--header{
    width: 74%;
  }
  .secound--header,
  .header--main,
  .third--page--header {
    font-size: 24px;
    
  }
  .secound--page {
    height: auto;
  }
  .secound--page--p--content {
    width: 100%;
    margin-left: 0%;
  }
  .header--secound--page{
    margin-top: 45px;
  }
  .secound--span--big {
   font-size: 25px; 
  }
  .secound--page--p{
    font-size: 15px;
  }
  .justify--p{
    font-size: 16px;
  }
  .third--page--p{
    width: 100%;
    margin-left: 0%;
  }
  .fourt--page--gridTwo,
  .third--page--img--col {
    display: none;
  }
  .fourth--grid {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .fourth--page--p{
    width: 90%;
    margin-left: 5%;
    font-size: 16px;
  }
  .nano--tech--left{
    margin-right: auto;
    margin-left: auto;
  
    }
}
@media screen and (max-width: 376px) {
  .content--column {
    padding-top: 9% !important;
    margin-inline: 8px !important;
  }
  .header--secound--page {
    margin-top: 35px;
  }
  .secound--header{
    font-size: 22px;
  }
  .secound--span--big {
    font-size: 35px;
}
  .first--p{
    font-size: 15px;
  }
  .left--align--header{
    font-size: 15px;
  }
  .right--align--header {
    font-size: 15px;
    text-align: left;
  }

.justify--p {

margin-right: 0%;
font-size: 15px;
}
.third--page--p,.fourth--page--p {
  font-size: 16px;
}
  .fourt--page--gridTwo,
  .third--page--img--col,
  .fourt--page--gridTwo {
    display: none;
  }
  .nano--tech--left{
    margin-right: 5px;
  
    }
}
@media screen and (max-width: 320px) {
  .content--column {
    margin-bottom: 20px;
    margin-inline: 0px;
    padding: 13% !important
}
.first--p, .secound--page--p, .third--page--p, .fourth--page--p {
  font-size: 14px;
}
.header--main{
  padding-top: 10%;
  font-size: 19px;
}
.header--secound--page {
  margin-top: 45px;
}
  /* .nano--tech--left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  } */
  .nano--tech--left{
  margin-right: 20px;

  }
  .grid--sec{
    grid-template-columns: 1fr 1fr;
  }
  .nano--tech--right{
    margin-left: 50px;
  }
  .grid--sec {
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }
  .img--grid--right
 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .img--grid--left{
    margin-left: 30px;
  }
  .fourt--page--gridTwo,
  .third--page--img--col {
    display: none;
  }

  .fourth--page--p{
    width: 98%;
    margin-left: -1%;
  }
  .fouth--span--big {
    font-size: 28px;
  }
  .fouth--header {
    font-size: 30px;
}
  .fourth--grid {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .secound--span--big {
    font-size: 35px;
  }

  .justify--p {
    font-size: 13px;
    margin-right: 0%;
  }
}
