/* @font-face {
    font-family: EccentricStd;
    font-family: Minimo;
    font-family: Raleway-Medium;
    font-family: MoongladeDemoBold-jOzM;
    src: url(./fonts/EccentricStd.otf);
    src: url(./fonts/Minimo.otf);
    src: url(./fonts/MoongladeDemoBold-jOzM.ttf);
    src: url(./fonts/Raleway-Medium.ttf);
} */
/* first section */

.form-control{
  background-color: transparent;
  color: white;
}

.form-control::placeholder{
  color: rgb(165, 163, 163);
}

.form-control:focus {
  color: #ffffff;
  background-color: transparent;
  border-color: #80bdff;
  outline: 5px;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.faqfaq{
  padding-top: 110px;
  text-align: center;
}

#whoWeAre_first_sec_main_div {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    z-index: 5;
    overflow-x: hidden;
  }
  
  .body__first {
    background-color: black;
    margin-top: -32px;
    user-select: none;
  }
  
  .row1 {
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    padding-top: 100px;
    /* border: 1px solid white; */
  }
  
  .col-md-13 {
    width: 180px;
    height: 50px;
    border: none;
    color: white;
    font-weight: 600;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    margin-right: 0rem !important;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px 50px;
    cursor: pointer;
    background-color: lightseagreen;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .col-md-13:hover {
    background-color: #28a745;
  }
  
  .col-md-13:hover .whowe_btn {
    background-color: #28a745;
    outline: none;
    border: none;
  }
  .col-md-13:active .whowe_btn {
    background-color: #28a745;
    outline: none;
    border: none;
  }
  
  .whowe_btn:active {
    outline: none;
    background-color: lightseagreen;
  }
  /* Button's gradient animation */
  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0 50%;
    }
  }
  /* Effect on Hover*/
  .col-md-13::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    left: -70px;
    top: 0;
    background-color: rgba(214, 199, 255, 0.329);
    filter: blur(10px);
    transition-duration: 0.3s;
    border-bottom-right-radius: 50%;
  }
  
  .col-md-13:hover::before {
    transform: translateX(250px);
    transition-duration: 0.3s;
  }
  
  /* Effect on click */
  .col-md-13:active {
    transform: translate(2px, 2px);
    transition-duration: 0.1s;
    outline: none;
  }
  
  .whowe_btn {
    display: inline-block;
    margin: 6px 10px;
    margin-bottom: 0;
    font-size: 18px;
    padding: 10px;
    line-height: 1.42;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
  }
  
  .whowe_btn-success {
    color: #fff;
    background-color: lightseagreen;
    outline: none;
  }
  
  @media only screen and (min-device-width: 480px) and (max-device-width: 910px) {
    /* first section */
  
    #whoWeAre_first_sec_main_div {
      height: auto;
    }
  }
  
  @media screen and (max-width: 1440px) {
    #whoWeAre_first_sec_main_div {
      height: auto;
    }
  
    .row1 {
      background-color: black;
    }
  }
  
  /* body settings */
  
  .question:hover {
    color: #fcfcfc;
  }
  
  .content {
    width: 90%;
    background-color: transparent;
    margin-left: 10%;
  }
  
  .centerplease {
    margin: 0 auto;
    width: 100vw;
    font-size: 150%;
    text-align: center;
    margin-top: 3em;
    padding: 35px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 3;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 4;
    margin-top: -6px;
    user-select: none;
  }
  
  .centerplease1 {
    /* border: 1px solid red; */
    padding-top: 100px !important;
    width: 100vw;
    font-size: 150%;
    text-align: center;
    /* padding: 35px; */
    font-weight: 500;
    line-height: 3;
  }
  
  .question {
    position: relative;
    margin: 0;
    padding: 1px 10px 4px 40px;
    display: block;
    width: 100%;
    cursor: pointer;
    color: rgb(252, 250, 250);
    font-size: 25px;
    user-select: none;
  }
  
  .answers {
    padding: 0px 15px;
    color: #bdbdbd;
    margin: 5px 0;
    height: 0;
    overflow: hidden;
    z-index: 15;
    position: relative;
    opacity: 0;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -o-transition: 0.7s ease;
    transition: 0.7s ease;
  }
  
  .questions:checked ~ .answers {
    height: auto;
    margin-right: 9%;
    text-align: justify;
    opacity: 1;
    padding: 15px;
    font-size: 22px;
    color: gray;
  }
  
  .plus {
    position: absolute;
    color: rgb(253, 252, 252);
    margin-left: 10px;
    z-index: 15;
    font-size: 2em;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  
  .questions:checked ~ .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .questions {
    display: none;
  }
  
  /* end of body settings */
  
  @media (max-width: 600px) {
    .header > label {
      display: inline-block;
    }
  
    .header > .navbar {
      display: none;
    }
  
    .header > input:checked + .navbar {
      display: block;
      width: 220px;
      height: 110vh;
      position: absolute;
      top: 4em;
      z-index: 100;
      background-color: #0c1323;
    }
  
    .header > input:checked + .navbar > li {
      width: 250px;
      padding: 15px 0px 15px 15px;
    }
  }
  /* 601-759px settings */
  @media all and (min-width: 601px) and (max-width: 749px) {
    .header > label {
      display: inline-block;
    }
  
    .header > .navbar {
      display: none;
    }
  
    .header > input:checked + .navbar {
      display: block;
      width: 200px;
      height: 130vh;
      position: absolute;
      top: 4em;
      z-index: 100;
      background-color: #0c1323;
    }
  
    .header > input:checked + .navbar > li {
      width: 250px;
      padding: 15px 0px 15px 15px;
    }
  }
  
  /* 800-1300px settings*/
  @media all and (min-width: 800px) and (max-width: 1300px) {
    .row1 {
      position: relative;
      z-index: 1500;
      background-color: black;
      padding-bottom: 50px;
    }
  
    /*faq page*/
  
    .col-md-13 {
      width: 180px;
      height: 50px;
      border: none;
      color: white;
      font-weight: 600;
      margin-inline: auto;
      display: flex;
      justify-content: center;
      margin-right: 0rem !important;
      font-size: 20px;
      position: relative;
      overflow: hidden;
      border-radius: 10px 50px;
      cursor: pointer;
    }
  
    /* Button's gradient animation */
    @keyframes gradient {
      0% {
        background-position: 0 50%;
      }
  
      50% {
        background-position: 100% 50%;
      }
  
      100% {
        background-position: 0 50%;
      }
    }
    /* Effect on Hover*/
    .col-md-13::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 100%;
      left: -70px;
      top: 0;
      background-color: rgba(214, 199, 255, 0.329);
      filter: blur(10px);
      transition-duration: 0.3s;
      border-bottom-right-radius: 50%;
    }
  
    .col-md-13:hover::before {
      transform: translateX(250px);
      transition-duration: 0.3s;
    }
  
    /* Effect on click */
    .col-md-13:active {
      transform: translate(2px, 2px);
      transition-duration: 0.1s;
    }
  }
  

  .input__box_main{
    /* border: 1px solid red; */
    height: 100vh;
  }


  .load_loader{
    position: absolute !important;
    margin-top: 50vh !important;
    margin-left: 50vw !important;
    z-index: 99 !important;
  }

/* 88888888888888888888 */


  .home_btnwa {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    text-decoration: none !important;
  }
  
  .home_btnwa:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border: none;
  }
  
  .home_btnwa:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .home_btnwa::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .home_btnwa:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }

  @media screen and (max-device-width: 480px){
    .row1{
      height: auto !important;
    }
    .input__box_main {
      height: auto;
    }
    .content {
      margin-left: 6%;
  }
  .question {
    font-size: 17px;
  }
 .answers{
  font-size: 17px !important;
  margin-left: 5%;
 }

  }
