@font-face {
  font-family: EccentricStd;
  font-family: Minimo;
  font-family: Raleway-Medium;
  font-family: MoongladeDemoBold-jOzM;
  src: url(../../fonts/EccentricStd.otf);
  src: url(../../fonts/Minimo.otf);
  src: url(../../fonts/MoongladeDemoBold-jOzM.ttf);
  src: url(../../fonts/Raleway-Medium.ttf);
}

* {
  position: relative;
  z-index: 99;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* scroll-behavior: smooth; */
}

/* first section */

#maindiv_first {
  width: 100%;
  height: 100vh;
  /* background-color: #fae8cf; */
  box-sizing: border-box;
  padding-top: 200px;
  position: relative;
  background-image: url("../../Images/2.jpg");
  background-size: cover;
  /* background-position: center; */
}

.colortext_div {
  border-right: 5px solid rgb(3, 172, 172);
  width: 50%;
  padding-right: 20px;
  margin-left: 40%;
  margin-top: 0px;
  text-align: end;
  font-family: MoongladeDemoBold-jOzM;
}

.colortext {
  color: rgb(9, 155, 155);
  font-size: 35px;
}

.inc {
  font-size: 40px;
}

.under_color {
  font-size: 30px;
}

.inc1 {
  font-size: 40px;
}

.simple_text {
  width: 50%;
  margin-left: 40%;
  text-align: end;
  font-family: MoongladeDemoBold-jOzM;
  font-size: 22px;
}

.AI_DIV {
  font-size: 800px;
  top: -200px;
  position: absolute;
  z-index: 0;
  opacity: 0.1;
  margin-left: 45%;
  font-family: MoongladeDemoBold-jOzM;
}

.mydiv {
  height: 100vh;
}

/* second section */

#maindiv_second {
  width: 100%;
  height: 100vh;
  background-color: rgb(12, 151, 201);
  background-image: url("../../Images//m.svg");
  background-repeat: no-repeat;
  background-position-y: 50px;
  background-position-x: 25%;
  background-size: 380px;
  display: flex;

  /* border: 1px solid red; */
}

.sec_subdiv1 {
  /* border: 1px solid red; */
  width: 40%;
  margin-left: 10%;
  margin-top: 150px;
  height: 420px;
}

.video_div {
  /* border: 1px solid red; */
  width: 85%;
  margin-left: 10%;
  height: 85%;
  border-radius: 0px 20px 0px 20px;
  background-image: url("../../Images//hand_brain.jpg");
  background-size: cover;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.on_video {
  display: none;
}

.video_btn {
  width: 70px;
  position: absolute;
  z-index: 100;
}

.video_btn:hover {
  cursor: pointer;
  /* display: none; */
}

.vid {
  width: 480px;
  border-radius: 0px 10px 0px 10px;
  z-index: 1;
}

.sec_subdiv2 {
  /* border: 1px solid red; */
  /* margin-top: 150px; */
  width: 38%;
  height: 420px;
  
}

.sec_subdiv1_text {
  margin-top: 50px;
  width: 52%;
  height: 90px;
  margin-left: 10%;
  background-color: white;
  padding: 10px 0px 0px 10px;
  padding-right: 10px;
  font-size: 15px;
}

.H_DIV {
  position: absolute;
  font-size: 800px;
  top: 580px;
  opacity: 0.1;
  margin-left: 100px;
  font-family: EccentricStd;
  z-index: 0;
}

.text_ML {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}

.text_EIYO {
  color: white;
  font-size: 25px;
  font-family: MoongladeDemoBold-jOzM;
}

.size_inc {
  font-size: 30px;
}

.text_MLTO {
  margin-top: 60px;
  font-weight: 500;
  font-size: 25px;
}

.text_MLTO_INC {
  font-size: 30px;
}

.my_text {
  font-size: 22px;
}

/* third section  */

#maindiv_third {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  background-color: white;
  position: relative;
  z-index: 99;
  background-image: url("../../Images/L.svg");
  background-repeat: no-repeat;
  background-position-y: 100px;
  background-position-x: 1000px;
  background-size: 200px;
}

.TS_ML_text {
  text-align: center;
  margin-top: 100px;
  font-family: MoongladeDemoBold-jOzM;
  color: rgb(13, 192, 192);
  font-size: 30px;
}

.ts_stext {
  font-weight: 500;
  text-align: center;
  font-size: 25px;
}

.ts_text_size {
  font-size: 25px;
}

.third_subdiv {
  /* border: 1px solid red; */
  height: 60%;
  display: flex;
  padding-left: 15%;
  box-sizing: border-box;
  margin-top: 50px;
}

.card_div {
  /* border: 1px solid red; */
  height: 450px;
  width: 20%;
  margin-right: 10%;
  box-sizing: border-box;
  border-radius: 0px 50px 0px 0px;
  color: white;
  background-color: black;
  font-size: 18px;
  box-sizing: border-box;
}

.card_text_inc {
  font-size: 25px;
}

.card_head {
  margin-top: 50px;
  text-align: end;
  margin-right: 30px;
  font-size: 20px;
}

.card_sim_text {
  color: aqua;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  margin-top: 50px;
  text-align: justify;
}

/* fourth section */

#maindiv_fourth {
  height: 100vh;
  background-color: black;
  box-sizing: border-box;
  padding-top: 120px;
  background-image: url("../../Images/b.svg");
  background-repeat: no-repeat;
  background-position-y: 85px;
  background-position-x: 100px;
  background-size: 300px;
}

.fourth_sam_div {
  /* border: 1px solid red; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth_sub_div1 {
  /* border: 1px solid yellow; */
  width: 45%;
  height: 500px;
  margin-left: 14%;
}

.fourth_sub_div2 {
  /* border: 1px solid violet; */
  width: 38%;
  height: 550px;
  background-image: url("../../Images/AiBrain.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.fsd_text1 {
  color: white;
  margin-top: 20px;
  font-size: 35px;
  font-family: MoongladeDemoBold-jOzM;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.fsd_text2 {
  color: aqua;
  margin-top: 50px;
  font-size: 30px;
  font-family: MoongladeDemoBold-jOzM;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.fsd_text3 {
  color: white;
  font-family: MoongladeDemoBold-jOzM;
  word-spacing: 2px;
  letter-spacing: 1px;
  width: 63%;
  text-align: justify;
  font-size: 21px;
}

.FS_TC {
  font-size: 27px;
}

/* media queries */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* first section */

  #maindiv_first {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
padding-top: 100px;
    background-color: white;
  }

  .colortext_div {
    /* border: 1px solid red; */
    width: 90%;
    padding-right: 10px;
    margin-left: 0;
    margin-top: 50px;
    box-sizing: border-box;
    margin-right: 20px;
  }

  .colortext {
    font-size: 18px;
  }

  .inc {
    font-size: 30px;
  }

  .under_color {
    font-size: 20px;
  }

  .inc1 {
    font-size: 30px;
  }

  .simple_text {
    width: 90%;
    margin-left: 0%;
    text-align: end;
    font-family: "MoongladeDemoBold-jOzM";
    font-size: 15px;
    padding-bottom: 300px;
  }

  .mydiv {
    height: 80vh;
  }

  /* second section */
  #maindiv_second {
    display: block;
    height: 100%;
  }

  .sec_subdiv1 {
    width: 100%;
    margin-left: 0%;
    margin-top: 0px;
    padding-top: 60px;
    height: 370px;
  }

  .video_div {
    width: 80%;
    margin-left: 10%;
    height: 180px;
}

  .vid {
    width: 100%;
    border-radius: 0px 10px 0px 10px;
    z-index: 1;
  }

  .sec_subdiv2 {
    width: 100%;
    height: 350px;
    top: -30px;
    text-align: center;
  }

  

  .text_ML {
    margin-top: 20px;
  }

  .sec_subdiv1_text {
    margin-top: 20px;
    width: 80%;
    height: 60px;
    margin-left: 10%;
    padding-right: 10px;
    font-size: 13px;
  }

  .text_EIYO {
    font-size: 15px;
    padding-left: 20px;
  }

  .size_inc {
    font-size: 20px;
  }

  .text_MLTO {
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
    padding-left: 20px;
  }

  .text_MLTO_INC {
    font-size: 20px;
  }

  .my_text {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* third section */

  #maindiv_third {
    width: 100%;
    height: auto;
  }

  .TS_ML_text {
    margin-top: 40px;
    font-size: 18px;
  }

  .ts_stext {
    font-size: 15px;
  }

  .ts_text_size {
    font-size: 20px;
  }

  .third_subdiv {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    box-sizing: border-box;
    margin-top: 10px;
    justify-content: center;
  }

  .card_div {
    height: 170px;
    margin-top: 10px;
    width: 90%;
    margin-right: 5%;
    box-sizing: border-box;
    border-radius: 0px 30px 0px 30px;
    font-size: 18px;
    box-sizing: border-box;
  }

  .card_text_inc {
    font-size: 20px;
  }

  .card_head {
    margin-top: 10px;
    margin-right: 20px;
    font-size: 14px;
  }

  .card_sim_text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    margin-top: -17px;
  }

  /* fourth section */

  #maindiv_fourth {
    padding-top: 50px;
    height: auto;
  }

  .fourth_sam_div {
    display: block;
  }

  .fourth_sub_div1 {
    width: 83%;
    height: 300px;
    margin-left: 10%;
  }

  .fsd_text1 {
    margin-top: 0px;
    font-size: 18px;
    word-spacing: 2px;
    letter-spacing: 1px;
  }

  .fsd_text2 {
    margin-top: 20px;
    font-size: 15px;
  }

  .FS_TC {
    font-size: 22px;
  }

  .fsd_text3 {
    width: 100%;
    font-size: 13px;
  }

  .fourth_sub_div2 {
    width: 90%;
    margin-left: 10%;
    height: 300px;
    margin-top: 6px;
  }
}
/* ------------------------------------------ */

@media screen and (min-device-width: 480px) and (max-device-width: 900px) {
  /* first section */

  #maindiv_first {
    width: 100%;
    background-color: white;
    /* border: 1px solid red; */
    box-sizing: border-box;
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .colortext_div {
    /* border: 1px solid red; */
    width: 90%;
    padding-right: 10px;
    margin-left: 0;
    margin-top: 0px;
    box-sizing: border-box;
    margin-right: 20px;
  }

  .colortext {
    font-size: 30px;
  }

  .inc {
    font-size: 40px;
  }

  .under_color {
    font-size: 25px;
  }

  .inc1 {
    font-size: 40px;
  }

  .simple_text {
    width: 90%;
    margin-left: 0%;
    text-align: end;
    font-family: "MoongladeDemoBold-jOzM";
    font-size: 20px;
    padding-bottom: 300px;
  }

  /* second section */
  #maindiv_second {
    display: block;
    height: auto;
  }

  .sec_subdiv1 {
    width: 100%;
    margin-left: 0%;
    margin-top: 0px;
    padding-top: 60px;
    height: 470px;
    padding-bottom: 10px;
  }

  .video_div {
    width: 90%;
    margin-left: 5%;
    height: 300px;
  }

  .sec_subdiv2 {
    margin-top: 0px;
    width: 100%;
    height: 400px;
    text-align: center;
  }

  .text_ML {
    margin-top: 20px;
    font-size: 20px;
  }

  .sec_subdiv1_text {
    margin-top: 20px;
    width: 80%;
    height: 60px;
    margin-left: 10%;
    padding-right: 10px;
    font-size: 18px;
  }

  .text_EIYO {
    font-size: 22px;
    padding-left: 20px;
  }

  .size_inc {
    font-size: 30px;
  }

  .text_MLTO {
    margin-top: 10px;
    font-weight: 500;
    font-size: 22px;
    padding-left: 25px;
  }

  .text_MLTO_INC {
    font-size: 30px;
  }

  .my_text {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* third section */

  #maindiv_third {
    margin-top: -16px;
    width: 100%;
    height: auto;
  }

  .TS_ML_text {
    margin-top: 40px;
    font-size: 25px;
  }

  .ts_stext {
    font-size: 22px;
  }

  .ts_text_size {
    font-size: 28px;
  }

  .third_subdiv {
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    box-sizing: border-box;
    margin-top: 20px;
    justify-content: center;
  }

  .card_div {
    height: 220px;
    margin-top: 10px;
    width: 90%;
    margin-right: 5%;
    box-sizing: border-box;
    border-radius: 0px 30px 0px 30px;
    font-size: 18px;
    box-sizing: border-box;
  }

  .card_text_inc {
    font-size: 30px;
  }

  .card_head {
    margin-top: 10px;
    margin-right: 20px;
    font-size: 22px;
  }

  .card_sim_text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    margin-top: 10px;
  }

  /* fourth section */

  #maindiv_fourth {
    padding-top: 50px;
    height: auto;
  }

  .fourth_sam_div {
    display: block;
  }

  .fourth_sub_div1 {
    width: 82%;
    height: 300px;
    margin-left: 9%;
  }

  .fsd_text1 {
    margin-top: 0px;
    font-size: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
  }

  .fsd_text2 {
    margin-top: 20px;
    font-size: 22px;
    line-height: 2.1rem;
  }

  .FS_TC {
    font-size: 30px;
  }

  .fsd_text3 {
    width: 100%;
    font-size: 18px;
  }

  .fourth_sub_div2 {
    width: 60%;
    margin-left: 20%;
    height: 450px;
    margin-top: 6px;
  }
}


/* ---------Quesries for 1440 */
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  /* first section */

  #maindiv_first {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 200px;
    position: relative;
    background-image: url("../../Images/2.jpg");
    background-size: cover;
    /* background-position: center; */
  }

  .colortext_div {
    border-right: 5px solid rgb(3, 172, 172);
    width: 50%;
    margin-top: 0%;
    padding-right: 20px;
    margin-left: 40%;
    text-align: end;
    font-family: MoongladeDemoBold-jOzM;
  }

  .colortext {
    color: rgb(9, 155, 155);
    font-size: 33px;
  }

  .inc {
    font-size: 33px;
  }

  .under_color {
    font-size: 30px;
  }

  .inc1 {
    font-size: 35px;
  }

  .simple_text {
    width: 50%;
    margin-left: 40%;
    text-align: end;
    font-family: MoongladeDemoBold-jOzM;
  }

  .AI_DIV {
    font-size: 800px;
    top: -200px;
    position: absolute;
    z-index: 0;
    opacity: 0.1;
    margin-left: 45%;
    font-family: MoongladeDemoBold-jOzM;
  }

  .mydiv {
    height: 100vh;
  }

  /* second section */

  #maindiv_second {
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 151, 201);
    background-image: url("../../Images//m.svg");
    background-repeat: no-repeat;
    background-position-y: 50px;
    background-position-x: 800px;
    background-size: 380px;
    display: flex;

    /* border: 1px solid red; */
  }

  .sec_subdiv1 {
    /* border: 1px solid red; */
    width: 40%;
    margin-left: 10%;
    margin-top: 150px;
    height: 420px;
  }

  .video_div {
    /* border: 1px solid red; */
    width: 80%;
    margin-left: 10%;
    height: 270px;
    border-radius: 0px 20px 0px 20px;
    background-image: url("../../Images//hand_brain.jpg");
    background-size: cover;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .on_video {
    display: none;
  }

  .video_btn {
    width: 70px;
    position: absolute;
    z-index: 100;
  }

  .video_btn:hover {
    cursor: pointer;
    /* display: none; */
  }

  .vid {
    width: 480px;
    border-radius: 0px 10px 0px 10px;
    z-index: 1;
  }

  .sec_subdiv2 {
    /* border: 1px solid red; */
    /* margin-top: 150px; */
    margin-top: 126px;
    width: 46%;
    height: 420px;
}

  .sec_subdiv1_text {
    top: -8%;
    margin-top: 50px;
    width: 80%;
    height: 90px;
    margin-left: 10%;
    background-color: white;
    padding: 10px 0px 0px 10px;
    padding-right: 10px;
  }

  .H_DIV {
    position: absolute;
    font-size: 800px;
    top: 580px;
    opacity: 0.1;
    margin-left: 100px;
    font-family: EccentricStd;
    z-index: 0;
  }

  .text_ML {
    text-align: center;
    font-weight: 500;
  }

  .text_EIYO {
    color: white;
    font-size: 19px;
    font-family: MoongladeDemoBold-jOzM;
  }

  .size_inc {
    font-size: 26px;
  }

  .text_MLTO {
    margin-top: 25px;
    font-weight: 500;
    font-size: 17px;
  }

  .text_MLTO_INC {
    font-size: 26px;
  }

  .my_text {
    font-size: 18px;
    width: 80%;
  }

  /* third section  */

  #maindiv_third {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-color: white;
    position: relative;
    z-index: 99;
    background-image: url("../../Images/L.svg");
    background-repeat: no-repeat;
    background-position-y: 100px;
    background-position-x: 1000px;
    background-size: 200px;
  }

  .TS_ML_text {
    text-align: center;
    margin-top: 100px;
    font-family: MoongladeDemoBold-jOzM;
    color: rgb(13, 192, 192);
    font-size: 20px;
  }

  .ts_stext {
    font-weight: 500;
    text-align: center;
    font-size: 20px;
  }

  .ts_text_size {
    font-size: 25px;
  }

  .third_subdiv {
    /* border: 1px solid red; */
    /* height: 474px; */
    display: flex;
    padding-left: 7%;
    box-sizing: border-box;
    margin-top: 40px;
  }

  .card_div {
    /* border: 1px solid red; */
    height: 430px;
    width: 30%;
    margin-right: 5%;
    box-sizing: border-box;
    border-radius: 0px 50px 0px 0px;
    color: white;
    background-color: black;
    font-size: 18px;
    box-sizing: border-box;
}
  .card_text_inc {
    font-size: 22px;
  }

  .card_head {
    margin-top: 50px;
    text-align: end;
    margin-right: 22px;
    font-size: 20px;
  }

  .card_sim_text {
    color: aqua;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    margin-top: 2px;
    text-align: justify;
  }

  /* fourth section */

  #maindiv_fourth {
    height: 100vh;
    background-color: black;
    box-sizing: border-box;
    padding-top: 0px;
    background-image: url("../../Images/b.svg");
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: 100px;
    background-size: 300px;
  }

  .fourth_sam_div {
    height: 100vh;
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: flex;
  }

  .fourth_sub_div1 {
    /* border: 1px solid yellow; */
    width: 50%;
    height: 500px;
    margin-left: 14%;
  }

  .fourth_sub_div2 {
    /* border: 1px solid violet; */
    width: 50%;
    height: 550px;
    background-image: url("../../Images/AiBrain.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-left: 20px;
  }

  .fsd_text1 {
    color: white;
    margin-top: 20px;
    font-size: 22px;
    font-family: MoongladeDemoBold-jOzM;
    word-spacing: 2px;
    letter-spacing: 1px;
  }

  .fsd_text2 {
    color: aqua;
    margin-top: 50px;
    font-size: 20px;
    font-family: MoongladeDemoBold-jOzM;
    word-spacing: 2px;
    letter-spacing: 1px;
  }

  .fsd_text3 {
    color: white;
    font-family: MoongladeDemoBold-jOzM;
    word-spacing: 0px;
    letter-spacing: 0px;
    width: 75%;
    text-align: justify;
    font-size: 16px;
  }

  .FS_TC {
    font-size: 27px;
  }
}
@media screen and (min-width: 1450px) and (max-width: 1990px) {




  .sec_subdiv1_text {
    margin-top: 50px;
    width: 85%;
    height: 90px;
    margin-left: 10%;
    background-color: white;
    padding: 10px 0px 0px 10px;
    padding-right: 10px;
    font-size: 15px;
}

  .sec_subdiv2{
    padding-top: 9%;
    right: 1%;
  }
  .my_text{
    text-align: justify;
    width: 90%;
}
.card_head {
  margin-top: 50px;
  text-align: end;
  margin-right: 23px;
  font-size: 20px;
}

.third_subdiv {
  /* border: 1px solid red; */
  height: 60%;
  display: flex;
  padding-left: 13%;
  box-sizing: border-box;
  margin-top: 50px;
}
.card_div {
  /* border: 1px solid red; */
  height: 450px;
  width: 22%;
  margin-right: 11%;
  box-sizing: border-box;
  border-radius: 0px 50px 0px 0px;
  color: white;
  background-color: black;
  font-size: 18px;
  box-sizing: border-box;
}
  }
